# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.feels-like-a-rerun.iml
# Datasource local storage ignored files
/../../../../../../../../:\Development\Unity\GameJams\feels-like-a-rerun\.idea\.idea.feels-like-a-rerun\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
